.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1d1d1d;

    h1{
        color: white;
    }

    input{
        padding: 0.5rem 1rem;
        border-radius: 15px;
        border: none;
    }

    input:focus{
        border: none;
        outline: none;
    }

    button{
        margin-left: 0.5rem;
        color: white;
        background-color: #0c70f2;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
    }
}